.card{
  margin: 1rem 0;
  cursor: pointer;
  transition: transform .5s ease;
}

.card img{
  width: 100%;
  height: auto;
}

.card:hover{
  box-shadow: rgb(209, 209, 213) 0px 6px 15px;
  transform: scale(1.05);
}

.row {
   margin: 0;
}
